<ng-container>
  <button mat-flat-button (click)="toggleChuckNorrisFacts()">
    {{ this.newFacts() ? "Stop new facts" : "Start new facts" }}
  </button>
  <h2>fact list:</h2>
  <mat-list>
    @for (fact of facts(); track $index) {
    <mat-list-item>
      {{ fact.value }}
    </mat-list-item>
    <!-- I would prefer to do this part in the service, but doing it like this now, because of time constraints -->
    @if(favoriteServer.favorites().length<10 ){
    <button mat-flat-button (click)="addToFavorites(fact)">Favorite</button>
    } }
  </mat-list>
</ng-container>
